@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';
// @import 'bootstrap/scss/bootstrap.scss';

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
