@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';

.dashboard {
  display: flex;
  flex-direction: row;
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;

  @include media-breakpoint-up(xs) {
    & {
      flex-direction: column;
    }

    & .menu {
      display: none;
    }

    & nav {
      display: flex;
    }
  }
  @include media-breakpoint-up(sm) {
    & {
      flex-direction: column;
    }
    & .menu {
      display: none;
    }

    & nav {
      display: flex;
    }
  }
  @include media-breakpoint-up(md) {
    & {
      flex-direction: column;
    }
    & .menu {
      display: none;
    }

    & nav {
      display: flex;
    }
  }
  @include media-breakpoint-up(lg) {
    & {
      flex-direction: row;
    }
    & .menu {
      display: flex;
    }

    & nav {
      display: none;
    }
  }
}
